<div class="header">
    <div class="container-lg">
        <div class="row">
        <div class="col-sm-2">
            <img src="/assets/images/bamboo (1).png" alt="">
        </div>
        
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-8 col-sm-6">
                        <span style="color:blue; font-weight:bolder; font-size:50px; Width:157px;Height:42px;">FOREST</span>
                        <p>
                            Bamboo Tree Production
                        </p>
                    </div>
                    <div class="col-4 col-sm-6">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Enter Your email here*" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Get News and Updates</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <div class="container-sm">
            <ul>
                <li (click)="navigateToPage('/homepage')"> <a herf="#">Home</a></li>
                <li (click)="navigateToPage('/artificaltrees')"> <a herf="#">Artifical Trees</a></li>
                <li (click)="navigateToPage('/gardentrees')"><a herf="#">Garden Decoration Trees</a></li>
                <li (click)="navigateToPage('/luckytrees')"><a herf="#">Lucky Trees</a></li>
            </ul>
            <div class="contact">
                TEL 123-456-789
            </div>
            <div class="shopp">
                 
            </div>
        </div>
        
    </div> 
</div>