<div class="section">
    <div class="container-lg">
        <div class="row name">
            ABOUT
        </div>
        <div class="row colums">
            <div class="col">
                <span style="display: flex;flex-direction: column;align-items: center;">Important<br>
                    <p>This amazing plant has unique rapid 
                        growth and can play an important role 
                        in protecting our planet from pollution 
                        and improving the soil. Bamboo can be 
                        used as a biofuel, food, and for 
                        architecture and construction 
                        applications and plays a large role in the 
                        local economy by creating job 
                        opportunities.</p>
                </span>
            </div>
            <div class="col">
                <span style="display: flex;flex-direction: column;align-items: center;">Uses<br>
                    <p>Bamboo has many uses, mainly in 
                        construction (flooring, roofing designing, 
                        and scaffolding), furniture, food, biofuel, 
                        fabrics, cloth, paper, pulp, charcoal, 
                        ornamental garden planting, and 
                        environmental characteristics, such as a 
                        large carbon sink and good 
                        phytoremediation option, improving 
                        soil structure and soil</p>
                </span>


            </div>
        </div>
    </div>
</div>