<div>
    <app-header></app-header>
</div>
<!-- *********************************************************************************** -->
<div class="section imgs">
    <div class="box"></div>
    <div class="container-sm home">
        <div class="row">
            <div class="col-sm-4 snow">
                ABCD
            </div>
            <div class="col-sm-8 simage">
                <img src="/assets/images/bamboo-texture.jpg" alt="" height="370px" width="100%">
            </div>
        </div>
        <div class="row bimage">
            <div class="col-sm-6 zoo">
                <img src="/assets/images/zoo.jpg" alt="" height="370px" width="100%">
            </div>
            <div class="col-sm-6 zoo">
                <img src="/assets/images/kazuend.jpg" alt="" height="370px" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="container-sm line">
    <hr>
</div>
<div class="section bg">
    <!-- <div class="bg img">
        <img src="/assets/images/dlf.pt-bamboo-png-118526.png" alt="" >
    </div> -->
    
    <div class="container-sm product">
        <div class="row row-cols-4">
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/1Bambusa-Strita.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Strita
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/2Bambusa-Tulda.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Tulda
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/3Bambusa-polymorpha.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Polymorpha
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/4Bambusa-Balcooa.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Balcooa
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/5Bambusa-arundinacea.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Arundinacea
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/6Bambusa-Nana.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Nana
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/7Melocanna-baccifera.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Baccifera
                </div>
                <a href="#" class="button">More Info</a>
            </div>
            <div class="col product buy">
                <div class="boxx">
                    <img src="/assets/images/9Gigantochloa-Rostrata.jpg" alt="">
                </div>
                <div class="ntag">
                    Bambusa Rostrata
                </div>
                <a href="#" class="button">More Info</a>
            </div>
        </div>
    </div>
</div>
<!-- ************************************************************************************ -->
<div>
    <app-about></app-about>
</div>
<!-- *********************************************************************************** -->
<div>
    <app-footer></app-footer>
</div>