<div>
    <app-header></app-header>
</div>
<!-- ************************************************************************************ -->

<div class="section atproduct">
    <div class="box">
        <div class="container-sm nametag">
            Garden-Decoration Tree
        </div>
    </div>
    <div class="container-sm at">
        <div class="row group">
            <div class="col-sm-4 filter">
                <div class="title">Filter By</div>
                <hr>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Product Type</button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
                <hr>
                
            </div>
            <div class="col-sm-8 product">
                <div class="row row-cols-2">
                    <div class="col product buy">
                        <div class="boxx">
                            <img src="/assets/images/1Bambusa-Strita.jpg" alt="">
                        </div>
                        <div class="ntag">
                            Bambusa Strita
                        </div>
                        <a href="#" class="button">More Info</a>
                    </div>
                    <div class="col product buy">
                        <div class="boxx">
                            <img src="/assets/images/1Bambusa-Strita.jpg" alt="">
                        </div>
                        <div class="ntag">
                            Bambusa Strita
                        </div>
                        <a href="#" class="button">More Info</a>
                    </div>
                    <div class="col product buy">
                        <div class="boxx">
                            <img src="/assets/images/1Bambusa-Strita.jpg" alt="">
                        </div>
                        <div class="ntag">
                            Bambusa Strita
                        </div>
                        <a href="#" class="button">More Info</a>
                    </div>
                    <div class="col product buy">
                        <div class="boxx">
                            <img src="/assets/images/1Bambusa-Strita.jpg" alt="">
                        </div>
                        <div class="ntag">
                            Bambusa Strita
                        </div>
                        <a href="#" class="button">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************************************************************ -->
<div>
    <app-about></app-about>
</div>
<!-- *********************************************************************************** -->
<div>
    <app-footer></app-footer>
</div>