<div class="container-lg">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <img src="/assets/images/bamboo (1).png" alt="">
            </div>
            <div class="col-md-auto">
                <span style="color:blue; font-weight:bolder; font-size:50px; Width:157px;Height:42px;">FOREST</span>
                <p>
                    Bamboo Tree Production
                </p>
            </div>
        </div>
        <div class="row cont">
            Customer Service: 123-456-7890
        </div>
    </div>
</div>
